*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    padding: 0.8rem;   
    /* position: fixed; */
    bottom: 0;
    border: 1px solid black;
}

.footer .menus {
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
}

.menus > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer .info-footer {
    display: flex;
    flex-direction: column;
    /* width: 22%; */
    align-items: center;
}
.info-footer h1 {
    /* font-size: 1.5rem; */
    margin-bottom: 0.5rem;
}
.info-footer p {
    width: 100%;
    font-size: clamp(16px, 1.7vw, 17px);
    text-align: center;
    color: #666;
}

.footer h3 {
    font-size: clamp(18px, 2vw, 20px);
    margin-bottom: 0.5rem;
}

.footer ul {
    list-style: none;
}
.footer ul li {
    font-size: clamp(16px, 1.7vw, 17px);
    margin-bottom: 0.3rem;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.719);
    font-weight: 500;
}
.footer ul li:hover {
    /* color: #231252; */
    color: #000;
}

.footer .about-links {
    flex: 1;
    padding: 20px;
    /* background-color: #f1f1f1; */
}


.footer-contact {
    flex: 1;
    padding: 20px;
    gap: 5px;
    /* background-color: #c4c4c4; */
}


.footer-bottom {
    text-align: center;
    padding: 10px;
    /* background-color: #f1f1f1; */
    border-top: 1px solid #ccc;
}